#scorecardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(81, 177, 110); */
    /* background-attachment: fixed, scroll; */
    margin-top: 200px;

}

.fullMatchScorecard {
    border: 1px solid black;
}
.tableHeader {
    width: 200px;
    text-align: start;
    background-color: brown;
    color: white;
}

.fullMatchScorecard {
    border: 1px solid rgb(13, 52, 29);
    border-collapse: collapse;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: 20px;
    width: 40%;
}
#tableHead {
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(16, 113, 24);
}

th, td {
    padding: 10px;
    border: 1px solid gray;
}
.frontNineScore, .backNineScore {
    background-color: cadetblue;
}
.totalScore {
    background-color: rgba(210, 255, 127, 0.601);
}
.playerHead {
    background-color: bisque;
}