#profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-attachment: scroll;
    margin-top: 80px;

    /* width: 70%; */
}

.profile__info {
    width: 70%;

}

.teeTimesContainer {
    width: 70%;
}

.pastTeeTime {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    /* backdrop-filter: blur(16px) saturate(180%); */
    background-color: #38a169;
    /* color: rgb(222, 222, 222); */
    color: #CCFAFF;
    min-width: 600px;
    margin-bottom: 12px;
    border: 1px solid rgba(255, 255, 255, 0.357);
    border-radius: 8px;



}

.listOfPlayersOnMatch {
    display: flex;
    flex-direction: column;
}
.listOfPastTeeTimes {
    padding: 0;
}
.pastTeeTimeInfo {
    margin-right: 100px;
}
.listOfFutureTeeTimes {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 60px;
}
.editProfileButton {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: .25em .25em;
    border: 1px solid black;
    border-radius: 4px;
    width: 60px;
    font-size: large;
    font-weight: normal;
    font-style: oblique;
 
}

#profileHeader {
    display: flex;
}


.profileScorecardButton {
    
    background-color: rgb(37, 44, 120);
    color: white;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 4px;
    height: 41px;
    width: 100px;
    font-size: large;
    font-weight: normal;
    font-style: oblique;
    box-shadow: 0px 2px 1px 2px rgb(78, 78, 78);
    
}
.profileButtonBlock {
    display: flex;
    justify-content: flex-end;
    position: relative;

    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;

}