@media screen and (min-width: 641px) {

    #scorecardContainer {
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        /* align-items: center; */
        /* background-color: rgb(81, 177, 110); */
        /* background-attachment: fixed, scroll; */
        /* margin-top: 200px; */
        width: fit-content;

    }

    .table-container {
        position: relative;
        max-height: 300px;
        width: 60vw;
        overflow: scroll;
        background-color: #ccfaff;
    }

    .fullMatchScorecard {
        border: 1px solid black;

        /* width: 40%; */
    }

    .tableHeader {
        width: 200px;
        text-align: start;
        background-color: brown;
        color: white;
    }

    .tableBody {
        width: 50%;
    }

    .fullMatchScorecard {
        border: 1px solid rgb(13, 52, 29);
        border-collapse: collapse;
        background-color: whitesmoke;
        padding: 10px;
        margin-left: 20px;
        /* width: 40%; */
    }

    #tableHead {
        margin-bottom: 10px;
        border-bottom: 2px solid rgb(16, 113, 24);
    }

    th,
    td {
        padding: 4px;
        border: 1px solid gray;
    }

    .frontNineScore,
    .backNineScore {
        background-color: cadetblue;
    }

    .totalScore {
        background-color: rgba(210, 255, 127, 0.601);
    }

    .playerHead {
        background-color: bisque;
    }

    .userRow {
        border-bottom: 1px solid gray;
    }

    thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        background: hsl(20, 50%, 70%);
        /* width: fit-content; */
    }

    tr> :first-child {
        position: -webkit-sticky;
        position: sticky;
        background: hsl(180, 50%, 70%);
        z-index: 3;
        left: 0;
        height: 40px;
        width: 200px;
        
    }
    tr {
        border: 1px solid gray;
    }
}

@media screen and (max-width: 640px) {

    #scorecardContainer {
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        /* align-items: center; */
        /* background-color: rgb(81, 177, 110); */
        /* background-attachment: fixed, scroll; */
        /* margin-top: 200px; */
        /* zoom: .8; */
        width: fit-content;

    }

    .fullMatchScorecard {
        border: 1px solid black;

        /* width: 40%; */
    }

    .tableHeader {
        width: fit-content;
        text-align: start;
        background-color: brown;
        color: white;
        height: fit-content;
    }

    .tableBody {
        width: 50%;
    }

    .fullMatchScorecard {
        border: 1px solid rgb(13, 52, 29);
        border-collapse: collapse;
        background-color: whitesmoke;
        padding: 10px;
        margin-left: 20px;
        /* width: 40%; */
    }

    #tableHead {
        margin-bottom: 10px;
        border-bottom: 2px solid rgb(16, 113, 24);
    }

    th,
    td {
        padding: 4px;
        border: 1px solid gray;
        width: fit-content;
    }

    .frontNineScore,
    .backNineScore {
        background-color: cadetblue;
    }

    .totalScore {
        background-color: rgba(210, 255, 127, 0.601);
    }

    th .playerHead {
        background-color: bisque;
    }

    .userRow {
        border-bottom: 1px solid gray;
    }

    th .holeScore {
        width: 100px;
    }

    .unfixed-table {
        width: fit-content;
        border: none;
    }

    /* scrolling table  */
    .table-container {
        position: relative;
        max-height: 300px;
        width: 500px;
        overflow: scroll;
        background-color: #ccfaff;
    }

    thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        background: hsl(20, 50%, 70%);
        /* width: fit-content; */
    }

    /* thead th:first-child {
        left: 0;
        width: fit-content;
        z-index: 3;
      } */

    tbody {
        overflow: scroll;
        /* height: 200px; */
    }

    /* left column sticky */
    tr> :first-child {
        position: -webkit-sticky;
        position: sticky;
        background: hsl(180, 50%, 70%);
        z-index: 3;
        left: 0;
    }
}