.container--login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(81, 177, 110); */
    background-image: url(https://res.cloudinary.com/usga/image/upload/c_fill,dpr_2.0,g_face,q_70,w_800/v1/usga/images/course-care/ftgexpertsexplain/2019/7-green-final-1540x866.jpg);
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-size: 250%;
    background-position-x: -8em;
    background-position-y: center;
    height: 100vh;
}

#loginBox {
    margin-top: auto;
    margin-bottom: auto;
    width: 25%;
    text-align: center;
}

#loginLogo {
    text-align: center;
}

.centerItems {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 5px;
    
}

/* #pleaseSignIn {
    text-align: left;
} */

.form-control {
    margin-bottom: 1em;
}

.link--register {
    margin-top: 1em;   
    color: white; 
}

.bottom {
    background-color: rgb(112, 87, 49);
}